.clock {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  z-index: -999999;
}

.text {
  color: #000;
  font-size: 48px;
  font-weight: 100;
}

.bg {
  position: absolute;
  background-color: #000a;
  height: 100%;
  left: 0;
}
