.config-menu {
  width: 100%;
  height: 100%;
  background-color: #fffa;
  position: absolute;
}

.config-menu__close-button-container {
  width: 100%;
  position: relative;
  height: 24px;
  margin: 10px;
}

.config-menu__close-button {
  position: absolute;
  right: 24px;

  width: 24px;
  height: 24px;

  background-color: black;
  color: white;

  border: 1px solid black;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.config-menu__button-containers {
  width: 100%;
}

.config-menu__button-containers button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
}

.config-menu__button-containers button:hover {
  width: calc(200px * 1.5);
  transition: 0.1s;
}
