.weather-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;

  font-size: 52px;
  font-weight: 100;
  flex-grow: 0;

  margin: 10px auto;
}

.weather-display__left-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.weather-display__icon i {
  font-size: 64px;
}

.weather-display__right-container {
  font-size: 24px;
}
