.weather-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;

  font-size: 24px;
  font-weight: 100;
  flex-grow: 0;

  margin: 5px 0;
}

.weather-list-item__right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
}

.weather-list-item__icon i {
  font-size: 24px;
  margin-right: 10px;
}
