.App {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.App__config-button {
  position: absolute;
  background-color: black;
  color: #fffa;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px black;
  top: 10px;
  left: 10px;
}

.App__container {
  position: relative;
  height: 100vh;
}

@media (max-width: 560px) {
  .App__container {
    width: 90%;
    min-width: 280px;
  }
  .App__grid {
    display: block;
  }
}

@media (min-width: 560px) {
  .App__container {
    width: 90%;
  }

  .App__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media (min-width: 640px) {
  .App__container {
    width: 600px;
  }

  .App__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
