.state-button {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #aaaa;
}

@keyframes animation-checked {
  from {
    background-color: #fffa;
  }
  to {
    background-color: rgb(0, 200, 0);
  }
}

@keyframes animation-unchecked {
  from {
    background-color: rgb(0, 200, 0);
  }
  to {
    background-color: #fffa;
  }
}

.state-button--checked {
  animation-name: animation-checked;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.state-button--unchecked {
  animation-name: animation-unchecked;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
